{% extends 'taskmanager/base.html' %}

{% block content %}
<div class="task-container">
    <form method="post">
        {% csrf_token %}
        {% for f in form %}
        <p><label class="labelDefault">{{f.label}}:</label>{{f}}</p>
        {% if f.errors %}
        <div class="alert alert-warning">{{ f.label }}: {{ f.errors|striptags }}</div>
        {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        flatpickr('.flatpickr', {
            enableTime: true,
            enableSeconds: true,
            dateFormat: 'd.m.Y H:i:S',
            locale: 'ru',
            time_24hr: true,
            theme: 'dark',
        });
    });
</script>
{% endblock %}